<%= render 'layouts/header' %>

<%= will_paginate @feedback %>
<div class="row">
	<div class="col s10 offset-s1">
		<table>
		    <thead>
		          <tr>
		              <th data-field="author">Author</th>
		              <th data-field="email">email</th>
		              <th data-field="message">Message</th>
		              <th data-field="time">Message</th>
		          </tr>
		    </thead>

		    <tbody>
		    	<% @feedback.each do |message| %>
		          <tr>
		            <td><%= message.author %></td>
		            <td><%= message.email %></td>
		            <td><%= message.text %></td>
		            <td><%= time_ago_in_words(message.created_at) %></td>
		          </tr>
		        <% end %>
		    <tbody>
		</table>
	</div>
</div>
