<%= render "layouts/header" %>

<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-image">
            <%= image_tag "paper/edit.jpg", class: "img-responsive"%>
            <span class="card-title white-text">Editing post</span>       
      </div>
            <div class="card-content">
            
        <%= form_for(@post) do |f| %>
                <p>      <%= render 'layouts/errors_add_news' %>     </p>
                <p><%= f.text_field :title,     class: "form-control", placeholder: "Title"%>                    </p>   
                <p><%= f.text_field :image,     class: "form-control", placeholder: "Image URL"%>                </p> 
                <p><%= f.text_area  :text,      class: "form-control", placeholder: "Text"%>                     </p> 

                <% if current_user.admin? %>
                  <p>
                    Security level: 
                    <%= f.select :security, [
                                          ["All", 1], 
                                          ["Users and admin", 2]
                                          ], {}, {class: "browser-default"} %>
                  </p>   
                    Visibility: 
                    <%= f.select :visibility, [
                                          ["Show", true], 
                                          ["Hide", false]
                                          ], {}, {class: "browser-default"} %>
                  </p>   
                <% end %>
            </div>
        <div class="card-action">
              <%= f.submit "Update Post", class: "btn btn-large purple lighten-2" %>
            </div>
        <% end %>       
    </div>
  </div>
</div>