<% provide(:title, "All news") %>
<%= render 'layouts/header' %>

<div class="row">
  <div class="col s8 offset-s2">

<% if @post != nil %>
    <% @post.each do |record| %>
      <div class="card">
        <div class="card-image">
          <%= image_tag record.image,  size: "640x480" %>
        </div>

        <div class="card-content">
          <p><span class="card-title"><%= link_to record.title, record%></span></p>
          <em>Author: <%= record.author %></em>
        </div>
            
        <div class="card-action">
          <%= link_to "More information", record %>
        </div>
      </div>
      <% end %>
  </div>
</div>
<% end %>

<div class="row">
    <%= will_paginate @post %>
</div>