<% provide(:title, "All news") %>
<%= render 'layouts/header' %>

<div class="row">
	<div class="col-xs-12  col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<% if @post != nil %>
			<% @post.each do |record| %>
				<div class="well well-sm">
					<div class="panel panel-default">
  						<div class="panel-body">
    						<h4><%= link_to record.title, record %></h4>
  						</div>
					</div>

					<p class="text-right "><small><em>Author: <%= record.author %></em></small></p>
  				</div>
  			<% end %>
  		<% else %>
  			<div class="well well-sm">
  				<p class="text-center">There are no news!</p>
  			</div>
  		<% end %>
	</div>

	
</div>

<%= will_paginate @post %>

<%= render 'layouts/footer' %>