<%= render 'layouts/header' %>

<div class="row">
 <div class="col s6 offset-s3">
    	<h4><%= @post.title %></h4>
  			<p><%= image_tag @post.image, class: 'responsive-img' %></p>
    		<p><%= @post.text %></p>

				<small>
					<em>Author: <%= @post.author %></em>
				</small>

  </div>
</div>