<nav>
  <div class="nav-wrapper purple darken-1">
    <a class="brand-logo" href="#!">
    	<%= link_to image_tag("nw.png", size: "64x64"), root_path %>
    </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><%= link_to "Add news", addnews_path %></li>
       <li><%= link_to "History", allnews_path %> </li>
       <li><%= link_to "Rules", rules_path %> </li>
<% if signed_in? %>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li class="active">
            <%= link_to "Sign out", signout_path, method: "delete" %>
        </li>
<% else %>
        <li class="active">
            <%= link_to "Sign in", signin_path %>
        </li>
<% end %>
       
      </ul>
    </div>
</nav>